# Midterm 2 coding Questions Total : 60 
### 50 minute
### Name-
After complition submit it on Moodle using `GitHub` with in the assigned time

### Question 1. Print all of the numbers between 1 to 10 and square each numbers and append those to a new list
- 5 points

In [25]:
list=[]
for num in range (1,11):
    print(num)
    list.append(num**2)
    print(list)

1
[1]
2
[1, 4]
3
[1, 4, 9]
4
[1, 4, 9, 16]
5
[1, 4, 9, 16, 25]
6
[1, 4, 9, 16, 25, 36]
7
[1, 4, 9, 16, 25, 36, 49]
8
[1, 4, 9, 16, 25, 36, 49, 64]
9
[1, 4, 9, 16, 25, 36, 49, 64, 81]
10
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Question 2. Create a list of 10 random numbers and find out minimum , maximum and total of teh list.
* 5 + 3 = 8 points

In [2]:
import random

In [3]:
list2=[]
for num in range (10):
    list2.append(random.randint(1,10))
print(list2)

[4, 1, 4, 3, 6, 3, 1, 1, 6, 5]

In [4]:
max(list2)

6

In [5]:
min(list2)

1

In [6]:
sum(list2)

34

### Question 3. Print `day` and `300` from the new_list
new_list= [10, ['new', 300, [[3.141, 20],  345 ]], 'day' ]
* 3 + 3 = 6 points

In [7]:
new_list= [10, ['new', 300, [[3.141, 20], 345 ]], 'day' ]

In [8]:
new_list[2]

'day'

In [9]:
new_list[1][1]

300

### Question 4.  College=("Bellarmine", "2001 Neuburg RD")
Print the `name` of the College.
* 5 points

In [10]:
College=("Bellarmine", "2001 Neuburg RD")

In [11]:
College[0]

'Bellarmine'

### Question 5. In the United States as of 1995, minor is generally legally defined as a person under the age of 18. Write a code to check a student is minor or not. Verify the code by user input
* 6 points

In [12]:
age=int(input("Enter your age: "))
if age<18:
    print("You are a minor")
else:
    print("Your are not a minor")

Enter your age: 34
Your are not a minor

### Question 6. Get an input from user and check whether the number is `odd` and `greater than 10`. If not then comment
* 5 points

In [13]:
number=int(input("Enter a number: "))
if number%2!=0:
    if number>10:
        print("Your number is odd and greater than 10")
    else:
        print("Your number is odd but not greater than 10")
else:
    print("Your number is even")

Enter a number: 31
Your number is odd and greater than 10

### Question 7. Get a user input and check the given number is multiple of 11 or not
* 5 points

In [14]:
num=int(input("Enter a number: "))
if num/11==range(0,):
    print("This number is a multiple of 11")
else:
    print("This number is not a mulitple of 11")

Enter a number: 31
This number is not a mulitple of 11

### Question 8. Convert the lists to dictionary
* keys =  [10, 20, 30]
* values =['Ten', 'Twenty', 'Thirty']
* 4 points

In [15]:
dict1={10:"Ten",
      20:"Tewenty",
       30:"Thirty"}

In [16]:
dict1

{10: 'Ten', 20: 'Tewenty', 30: 'Thirty'}

### Question 9. Write a function that can take `any arbitary numbers` as inputs and calculate the maximum of them. Check the function for two sets of inputs.
* 2+2 points

In [17]:
def max_func(*args):
    return max(args)

In [18]:
max_func(1,3,4,5)

5

In [19]:
max_func(5,9,7,8)

9

### Question 10. Write functions to find out Area and Perimeter of a square. Check the result for side = 10.

* 3+3 points

In [20]:
def area_square(length):
    print(f"The area of your square is {length**2} units")
def perimiter_square(length):
    print(f"The perimiter of your square is {length*4} units")

In [21]:
area_square(10)

The area of your square is 100 units

In [22]:
perimiter_square(10)

The perimiter of your square is 40 units

### Question 11. Write down two program using while and for loop that prints all of the number from 10 to 20 (included) 
* 3+3 points

In [23]:
for num in range (10,21):
    print(num)

10
11
12
13
14
15
16
17
18
19
20

In [24]:
active=True
num=10
while active:
    if num<=20:
        print(num)
        num+=1
    else:
        active=False

10
11
12
13
14
15
16
17
18
19
20